.form__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: #AAAAAA; */
    padding: 3rem;
    border-radius: 1rem;
    min-width: 500px;
}